parameters:

services:
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    App\Infrastructure\Service\:
        resource: '../src/Infrastructure/Service/'

    App\Infrastructure\Console\:
        resource: '../src/Infrastructure/Console/'

    App\Infrastructure\Http\Controller\:
        resource: '../src/Infrastructure/Http/Controller/'

    App\Infrastructure\Repository\:
        resource: '../src/Infrastructure/Repository/'

    App\Infrastructure\Security\SecurityUserProvider: ~

    App\Domain\Entity\User\UserRepositoryInterface:
        class: App\Infrastructure\Repository\User\DoctrineUserRepository
